body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-weight: 200;
}

.card {
  border-radius: 5px;
  border: solid 1px #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  padding: 1em 0.3em;
}

.letras {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.letra {
  text-align: center;
  padding: 0 0.5em;
  margin: 0 2px;
  font-size: 2.3em;
  display: inline-block;
  border-radius: 15px;
  cursor: pointer;
}

.letra.correcta, .letra.incorrecta {
  cursor: not-allowed;
}

.letra.correcta {
  background-color: green;
  color: white;
}

.letra.incorrecta {
  background-color: red;
  color: white;
}

.letra:hover {
  background-color: grey;
}

#huecos {
  text-align: center;
}

#huecos > input {
  background-color: transparent;
  width: 1em;
  font-size: 2.5em;
  border: 0;
  border-bottom: solid 3px grey;
  border-radius: 15px;
  margin: 0 0.3em;
  text-align: center;
  text-transform: capitalize;
}

.top-space {
  margin-top: 1em;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.user {
  text-align: center;
}

.user figure {
  position: relative;
}

.user figure img {
  border-radius: 50%;
  width: 200px;
}

.user figure button {
  border-radius: 50%;
  padding: 5px;
  width: 45px;
  height: 45px;
  font-size: 1em;
  background-color: #78C3FB;
  position: absolute;
  bottom: 7%;
  right: 15%;
  border: 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.user figure button:focus {
  outline: none;
}

.user figure button:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
}

.user figure button i {
  margin-top: 20%;
}

.user > div {
  display: inline-block;
  box-sizing: border-box;
  width: calc(50% - 2em);
  vertical-align: top;
}

.user > div:first-child {
  border-right: 1px solid grey;
}

.user > div:nth-last-child(1) {
  margin-left: 1em;
}

.user > div:nth-last-child(1) div {
  padding: 1em 0;
  border-bottom: 1px solid grey;
  margin-bottom: 0.5em;
}

.user > div:nth-last-child(1) button {
  border-radius: 50%;
  color: #FFBA49;
  background-color: #261447;
  width: 40px;
  height: 40px;
  border: 0;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.user > div:nth-last-child(1) button:focus {
  outline: none;
}

.user > div:nth-last-child(1) button:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
}

#canvasContainer {
  width: 100%;
  text-align: center;
  margin-top: -50px;
}

#canvasContainer canvas {
  display: inline;
}

/***********LOGIN*************/
.login-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.login-container > .card {
  width: 80%;
  margin: auto;
  text-align: center;
}

.login-container > .card input {
  display: block;
  margin: 1em auto;
}

.login-container > .card input:not([type="submit"]) {
  border: 0;
  font-size: 1em;
  border-bottom: 2px solid #261447;
  width: 40%;
  transition: all 0.3s;
}

.login-container > .card input:not([type="submit"]):focus {
  width: 70%;
  border-bottom: 2px solid #9f7fdb;
  outline: none;
}

.login-container > .card input[type="submit"] {
  padding: 7px;
  background-color: teal;
  border: 0;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.login-container > .card input[type="submit"]:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7), -1px -1px 3px rgba(0, 0, 0, 0.7);
}

.login-container > .card span, .login-container > .card a {
  display: block;
  font-size: 0.7em;
}

.login-container > .card a {
  font-weight: bold;
  text-decoration: none;
}

.login-container > .card a, .login-container > .card a:visited {
  color: teal;
}
/*# sourceMappingURL=style.css.map */